<div class="fl w-100 w-third-ns pa3">
  <div class="bg-white h5">
    <div class="bb pa3 b--light-gray">
      <h4 class="blue ma0"> <%= @project[:name] %> </h4>
    </div>
    <div class="ph4">
      <p class="ph3">
        <%= truncate(@project[:description], 140) %>
      </p>
      <%= link "Read More", to: projects_path(@conn, :show, @project[:id_project]), class: "dtc tc ttu no-underline blue" %>
    </div>
  </div>
</div>