/* Phoenix flash messages */
.alert:empty {
  display: none;
}

/* Fonts */
@font-face {
    font-family: "Montreal";
    src: url("/fonts/montreal-regular.ttf");
}

@font-face {
    font-family: "Montreal Bold";
    src: url("/fonts/montreal-bold.ttf");
}

@font-face {
    font-family: "Lemon Tuesday";
    src: url("/fonts/lemon-tuesday.otf");
}

.montreal {
  font-family: "Montreal", sans-serif;
}

.montreal-bold {
  font-family: "Montreal Bold", sans-serif;
  letter-spacing: 3px;
}

.lemon-tuesday {
  font-family: "Lemon Tuesday", sans-serif;
}

/* Font Colours */
.green {
  color: #99C937;
}

.hover-green:hover {
  color: #99C937;
}

.dark-blue {
  color: #215968;
}

.light-blue {
  color: #B7DEE8;
}

.lightest-blue {
  color: #D4EBF1;
}

.red {
  color: #A70042
}

/* Background Colours */
.bg-green {
  background-color: #99C937;
}

.b--green {
  border-color: #99C937;
}

.b--red {
  border-color: #A70042;
}

.bg-dark-blue {
  background-color: #215968;
}

.bg-light-blue {
  background-color: #B7DEE8;
}

.bg-lightest-blue {
  background-color: #D4EBF1;
}

.bg-red {
  background-color: #A70042
}

.bg-red-10 {
  background-color: rgba(167,00,42,0.1);
}

/* Consent Alert CSS */
.close-faq:not(:checked) ~ div.ques {
  display: none;
}

.close-faq:not(:checked) ~ div label .plus {
  display: block;
}

.close-faq:checked ~ div label .close {
  display: block;
}
