/* Homepage */

.hero {
  background-image: url("/images/home-page-background.jpg");
  background-size: cover;
  width: 100%;
  height: 75vh;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 10%;
}

.splash-image {
  background-image: url("/images/home-page-splash.png");
  background-size: 100% 100%;
  width: 100%;
  height: 30em;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -40%;
  left: -15%;
  padding-right: 10em;
}

.splash p, h1 {
  left: 25%;
  top: 15%;
}

/* Phoenix flash messages */
.alert:empty {
  display: none;
}

/* Fonts */
@font-face {
    font-family: "Montreal";
    src: url("/fonts/montreal-regular.ttf");
}

@font-face {
    font-family: "Montreal Bold";
    src: url("/fonts/montreal-bold.ttf");
}

@font-face {
    font-family: "Lemon Tuesday";
    src: url("/fonts/lemon-tuesday.otf");
}

.montreal {
  font-family: "Montreal", sans-serif;
  letter-spacing: 1px;
}

.montreal-bold {
  font-family: "Montreal Bold", sans-serif;
  letter-spacing: 3px;
}

.lemon-tuesday {
  font-family: "Lemon Tuesday", sans-serif;
}

/* Font Colours */
.green {
  color: #99C937;
}

.hover-green:hover {
  color: #99C937;
}

.dark-blue {
  color: #215968;
}

.dark-green {
  color: #19A974;
}

.light-blue {
  color: #B7DEE8;
}

.lightest-blue {
  color: #D4EBF1;
}

.red {
  color: #A70042
}

/* Background Colours */
.bg-green {
  background-color: #99C937;
}

.b--green {
  border-color: #99C937;
}

.b--dark-green {
  border-color: #19A974;
}

.b--red {
  border-color: #A70042;
}

.bg-dark-blue {
  background-color: #215968;
}

.bg-dark-green {
  background-color: #19A974;
}

.bg-light-blue {
  background-color: #B7DEE8;
}

.bg-lightest-blue {
  background-color: #D4EBF1;
}

.bg-red {
  background-color: #A70042
}

.bg-red-10 {
  background-color: rgba(167,00,42,0.1);
}

.bg-dark-green-10 {
  background-color: rgba(25,169,116,0.1);
}

/* Consent Alert CSS */
.close-faq:not(:checked) ~ div.ques {
  display: none;
}

.close-faq:not(:checked) ~ div label .plus {
  display: block;
}

.close-faq:checked ~ div label .close {
  display: block;
}

/* Link styling */

a:not(.link), a:visited:not(.link) {
  color: #215968;
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: none;
}

/* Hamburger Menu */

.menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

#hamburger:checked ~ .menu {
  max-height: 100vh;
}

/* Large Screens */

@media (min-width: 1500px) {
    body {
      font-size: 25px;
    }
}

@media (max-width: 1000px) {
  .splash-image {
    width: 100%;
    height: 25em;
    padding: 0;
  }

  .splash p, h1 {
    left: 15%;
    top: 10%;
  }

  body {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .hero, .splash-image {
    background-image: none;
    position: static;
    padding-right: 0;
    height: auto;
    width: auto;
  }

  .splash-image h1, .splash-image p {
    color: #215968;
    left: 0;
    top: 0;
  }
}
