<h1>Questionnaire about your experiences</h1>
<div class="aspect-ratio aspect-ratio--1x1 h100 w100">
  <iframe src="<%= @survey_link %>" class="aspect-ratio--object" frameborder="0"></iframe>
</div>

