<div class="pa4 w-60">
  <h2>My Consent</h2>
</div>

<%= for { question, i } <- Enum.with_index @consent_questions do %>
  <%= component "consent_question", question: question, i: i, consent_answers: @consent_answers %>
<% end %>
