<div class="mw9 center ph5-ns ph4 pt4 montreal dark-blue">
  <div class="dib w-60-ns v-mid pa2-ns">
    <h2 class="ttu">My Consent</h2>
  </div>
</div>

<%= for { question, i } <- Enum.with_index @consent_questions do %>
  <%= component "consent_question", question: question, i: i, consent_answers: @consent_answers %>
<% end %>
