<%= component "about", conn: @conn, current_user: @current_user %>
<%= if !@current_user do %>
  <div class="bg-white ph5 pt3 pb5 mw9 center">
    <h3 class="ttu">Sign Up</h3>
    <%= component "sign_up", conn: @conn, current_user: @current_user %>
  </div>
<% end %>
